<h2>Forgot your password?</h2>

<div id="getPasswordReset">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div id="submit_sign_up"><%= f.submit "Send me reset password instructions" %></div>
	<% end %>

	<div id="extra_links">
		<%= render "links" %>
	</div>
</div>