<div class="item">
	<div class="nameDescImg">
		<div class="imgDownlds">
			<%= product_image product %>
			<p class="downloadNum"><%= product.noOfDownloads %> downloads</p>
		</div>
		<div class="nameDescription">
			<h3><%= link_to product.name, stock_path(product) %></h3>
			<p>
			    <%= show_description product.description %>
			    <%= link_to "read more", stock_path(product) %>
			</p>
		</div>					
	</div>
	<div class="stockLevel">
	    <%= in_stock(product.stockLevel) %>
	</div>
	<div class="price"><p>
	    <a href="#" class="buyBtn">Buy <%= number_to_currency product.salesPrice %></a></p>
	</div>
	<div class="clearall"></div>
</div><!-- end .item -->