<!--
	Main navigation.
	Sorting options.
-->
<div id="allNavigation">
    <%= render :partial => "shared/nav" %>
    <%= render :partial => "shared/sortnav" %>
</div><!-- end #allNavigation -->


<!--
	Container with all items.
	Pagination.
-->
<div id="content">
	<% if @products.empty? %>
	    <div class="notice">
	        No products
	    </div>
	<% else %>
    	<ul id="itemsTitleBar">
    		<li class="nameDesc">Name/Description</li>
    		<li class="sortStock">In stock</li>
    		<li class="sortPrice"><p>Sort by: </p>
    		<%= form_tag(nil, :id => "priceLevel") do %>
    		    <%= price_sort_select(params) %>
    		<% end %>
    		</li>
    		<div class="clearall"></div>
    	</ul><!-- end #itemsTitleBar -->
	
    	<% @products.each do |product| %>	
            <%= render :partial => "product", :locals => { :product => product } %>
    	<% end %>
	<% end %>
	
	<%= paginate @products %>
</div><!-- end #content -->