<!--
	Main navigation.
	Sorting options.
-->
<div id="allNavigation">
	<%= render :partial => "shared/nav" %>
</div><!-- end #allNavigation -->

<!--
	Container with all items.
	Pagination.
-->
<div id="content">
	<ul class="buyStages">
		<li class="stageDone">
			<div class="stageImg">1</div>
			<div class="stageName itemsSelection">Items selection</div>
		</li>
		<li class="stageDone">
			<div class="stageImg">2</div>
			<div class="stageName deliveryType">Delivery</div>
		</li>
		<li>
			<div class="stageImg">3</div>
			<div class="stageName">Payment</div>
		</li>
		<li>
			<div class="stageImgCheckout">4</div>
			<div class="stageName checkOutPos">Checkout</div> 
		</li>
		<div class="clearall"></div>
	</ul>
	
	<div class="delivery_type">
		<h1>Type in your address:</h1>
		<%= form_for(@address, :url => carts_delivery_path) do |f| %>
    		<% if @address.errors.any? %>
              <div class="error" id="error_explanation">
                <h2><%= pluralize(@address.errors.count, "error") %> prohibited this cart from being saved:</h2>

                <ul>
                <% @address.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
        
    		<div class="inputElement">
    		    <div class="label"><%= f.label :address %></div>
        		<div class="inputfield"><%= f.text_field :address %></div>
    	    </div>
	    
	    	<div class="inputElement">
    		    <div class="label"><%= f.label :city %></div>
        		<div class="inputfield"><%= f.text_field :city %></div>
    	    </div>
    	    
	    	<div class="inputElement">
    		    <div class="label"><%= f.label :postcode %></div>
        		<div class="inputfield"><%= f.text_field :postcode %></div>
    	    </div>
    	    
    	    <div class="inputElement">
    		    <div class="label"><%= f.label :mobile_number %></div>
        		<div class="inputfield"><%= f.text_field :mobile_number %></div>
    	    </div>
    	    
    	    <%= link_to raw("&#60; Item selection"), carts_path, :class => "goBack" %>
    	    <%= f.submit raw("Payment &#62;"), :class => "continue" %>
		<% end %>
		<div class="clearall"></div>
	</div><!-- end .delivery_type -->
	
</div><!-- end #content -->