<!DOCTYPE html>
<html>
<head>
  <title>CollaborativeDevelopmentWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "slider/nivo-slider", "slider/themes/default/default", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="<%= controller.controller_name %>">
        <%= yield %>
    </div>
</body>
</html>
