<!DOCTYPE html>
<html>
<head>
  <title>CollaborativeDevelopmentWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "slider/nivo-slider", "slider/themes/default/default", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="<%= controller.controller_name %>">
        <div id="container">
            <!--
        		Log in bar on the top. Basket if logged in.
        		Logo. Search.
        	-->
        	<div id="header">
        		<div id="accountBar">
        			<p class="welcomeMessage"><%= image_tag 'icons/user.png' %> Hello, Username (username@email.com). <a href="#">Log out</a></p>
        			<p class="basketInfo"><%= image_tag 'icons/cart.png' %> <a href="#">Your items: 0</a></p>
        		</div>

        		<div id="logoSearchBar">
        			<div id="logo"><%= link_to (image_tag 'logo.jpg', :alt => "Logotype"), root_path %></div>
        			<%= form_tag(stocks_search_path, :id => "search", :method => :get) do %>
        			    <%= text_field_tag :search, params[:search] || nil, :id => "searchField", :placeholder => "Search..." %>
        			    <%= submit_tag "Search", :id => "submitBtn" %>
        			<% end %>
        		</div>
        	</div><!-- end #header -->
        	
            <%= yield %>
            
        	<div id="footer">
    			<p class="year">2011 &ndash; 2012</p>
    			<p class="aboutUs"><%= link_to "About us", about_path %></p>
    		</div><!-- end #footer -->
    	</div><!-- end #container -->
    </div>
</body>
</html>
