<!DOCTYPE html>
<html>
<head>
  <title>CollaborativeDevelopmentWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "slider/nivo-slider", "slider/themes/default/default", "jquery.jgrowl", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="<%= controller.controller_name %>">
        <div id="container">
            <!--
        		Log in bar on the top. Basket if logged in.
        		Logo. Search.
        	-->
        	<div id="header">
        		<div id="accountBar">
        			<p class="welcomeMessage">
        			    <%= image_tag 'icons/user.png' %> 
                		<% if customer_signed_in? %>
                		    Hello, 
                		        <%= current_customer.first_name %> 
                		        <%= current_customer.last_name %> 
                		        (<%= current_customer.email %>).                 		    
                		    <div class="editAcc_btn">
                                <%= button_to "Edit account", edit_customer_registration_path, :form_class => "sign_form", :method => :get %>	    
                            </div>
                    		<div class="signInOrLogOut_btn">
                                <%= button_to "Log out", destroy_customer_session_path, :form_class => "sign_form", :method => :delete %>		     
                            </div>
        			    <% else %>
                            <div class="signInOrLogOut_btn">
                                <%= button_to "Sign in", new_customer_session_path, :form_class => "sign_form", :method => :get %>
                            </div>
        			    <% end %>
        			</p>
        			
        			<p class="basketInfo" id="top_cart">
        			    <%= render :partial => 'carts/top' %>
        			</p>
        		</div>

        		<div id="logoSearchBar">
        			<div id="logo"><%= link_to (image_tag 'logo.jpg', :alt => "Logotype"), root_path %></div>
        			<%= form_tag(stocks_search_path, :id => "search", :method => :get) do %>
        			    <%= text_field_tag :search, params[:search] || nil, :id => "searchField", :placeholder => "Search..." %>
        			    <%= submit_tag "Search", :id => "submitBtn" %>
        			<% end %>
        		</div>
        	</div><!-- end #header -->
        	
        	<% unless notice.blank? %>
        	    <p class="notice"><%= notice %></p>
        	<% end %>
        	<% unless alert.blank? %>
        	    <p class="alert"><%= alert %></p>
        	<% end %>
            
            <%= yield %>
            
        	<div id="footer">
    			<p class="year">2011 &ndash; 2012</p>
    			<p class="aboutUs"><%= link_to "About us", about_path %></p>
    		</div><!-- end #footer -->
    	</div><!-- end #container -->
    </div>
</body>
</html>
