<!DOCTYPE html>
<html>
<head>
  <title>CollaborativeDevelopmentWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "slider/nivo-slider", "slider/themes/default/default", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="<%= controller.controller_name %>">
        <div id="container">
            
            <%= yield %>
            
        	<div id="footer">
    			<p class="year">2011 &ndash; 2012</p>
    			<p class="aboutUs"><%= link_to "About us", about_path %></p>
    		</div><!-- end #footer -->
    	</div><!-- end #container -->
    </div>
</body>
</html>
